
.zonderbolletjes {
	list-style: none;
	margin-bottom: 0.2em;
	padding: 0;
}

.linkuitgeschakeld{
	text-decoration: none;
}

dd.attribuut {
	margin-left: 0;
	margin-bottom: 0.5em;
}

td.rechts{
	text-align: right;
}

label span, .fout {
	background-color: red;
	border-bottom-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	box-shadow: 1px 1px #777777;
	margin-left: 0.5em;
	padding: 0.5em;
	color: white;
	font-weight: bold;
}