
.zonderbolletjes {
	list-style: none;
	margin-bottom: 0.2em;
	padding: 0;
}

.linkuitgeschakeld{
	text-decoration: none;
}

dd.attribuut {
	margin-left: 0;
	margin-bottom: 0.5em;
}

td.rechts{
	text-align: right;
}